body{
    background-color: #e3cebd;
}

*{
    color: #322030;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15px;
}

h1{
    border: 1px solid #725b75;
    border-radius: 20px;
    padding: 30px;
    color: #322030;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form span {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

label{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label input {
    text-align: center;
    font-size: 20px;
    padding: 8px;
}

.btn{
    padding: 10px;
    background-color: #c1a2a0;
    font-size: 20px;
    color: #322030;
    cursor: pointer;
}

.btn:hover{
    background-color: #be9e9b;
}